.wrapper {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background-color: #ffffff;
  border-bottom: 2px solid #f0f0f0;

  .description {
    p {
      margin: 0;
      color: #979797;
    }
  }
}
