.wrapper {
  width: 100%;

  .mapouter {
    position: relative;
    width: 600px;
    height: 500px;
    text-align: right;
  }

  .gmap_canvas {
    width: 600px;
    height: 500px;
    overflow: hidden;
    background: none !important;
  }
}
