// common
@import "@/styles/variables.scss";

.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  display: flex;
  align-items: center;
  height: $headerHeight;
  padding: 0 16px;
  background-color: #ffffff;

  .iconshare {
    color: #266a99;
  }
}
