// common
@import "@/styles/variables.scss";

.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: $headerHeight;
  background-color: rgba(255, 255, 255, 0.8);

  .inner {
    display: flex;
    justify-content: space-between;
    max-width: 1100px;
    margin: 0 auto;
    padding: 2vh 5%;
  }
}
