.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  margin-bottom: 5px;
  background-color: #1082d1;

  h2 {
    color: #cdf0fa;
    font-weight: 500;
    font-size: 1rem;
  }
}
