.wrapper {
  .inner {
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;

    .infoCard {
      display: inline-block;
      vertical-align: top;

      &.CEO {
        width: 300px;
        height: 300px;
        margin: 0 15px;
      }

      &.info {
        $infoBreakpointWidth: 640px;

        max-width: $infoBreakpointWidth;
        padding: 0 15px;
        text-align: justify;

        .header {
          margin: 10px 0 25px;
          font-size: 1.5rem;
        }

        @media screen and (max-width: $infoBreakpointWidth) {
          width: auto;
        }
      }
    }
  }
}
