.wrapper {
  padding: 15px;
  background-color: #ffffff;

  .title {
    color: #04538b;
    font-weight: 600;
    font-size: 0.875rem;
  }

  .servicesWrapper {
    padding: 15px 0 5px;

    .service {
      margin-right: 8px;
    }
  }

  .message {
    padding-top: 15px;
    font-size: 0.8rem;
    border-top: 1px solid #dddddd;
  }
}
