$height-lg-screens: 80px;
$bg-color-lg-screens: #e4e3e2;

.Navbar {
  display: flex;
  justify-content: space-between;
  height: var($height-lg-screens);
  background-color: var($bg-color-lg-screens);
}

.navbar-links {
  display: flex;
}

.navbar-home,
.menuItem {
  display: flex;
  align-items: center;
  padding: 16px;
}

.navbar-home {
  box-sizing: border-box;
  height: var($height-lg-screens);
}

@media screen and (max-width: 1127px) {
  .Navbar {
    flex-direction: column;
    height: auto;
    background-color: white;
  }

  .navbar-links {
    flex-direction: column;
  }

  .navbar-links.closed {
    display: none;
  }

  .toggle {
    display: block;
  }

  .menuItem {
    border-bottom: none;
  }
}
