.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #ffffff;
  border-bottom: 2px solid #f0f0f0;

  .phoneNumber {
    color: #979797;
    font-weight: 600;
    font-size: 1.2rem;
  }
}
