.wrapper {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background-color: #ffffff;
  border-bottom: 2px solid #f0f0f0;

  .address {
    p {
      margin-bottom: 2px;
      color: #979797;
      font-size: 0.8rem;
    }
  }
}
