.wrapper {
  display: inline-block;
  max-width: 400px;
  margin: 0 10px;
  padding: 30px 0 40px;
  text-align: center;

  .titleAvatar {
    text-align: center;

    img {
      display: inline-block;
      max-width: 100%;
      height: auto;
      border: 1px solid #dddddd;
      border-radius: 50%;
      transition: 450ms ease-in-out;
    }
  }

  .title {
    margin-top: 25px;
    font-size: 1.4rem;
  }

  .description {
    min-height: 150px;
    padding: 0 45px;
    color: #838386;
    text-align: justify;
  }
}
