.wrapper {
  display: inline-block;
  width: 300px;
  padding: 30px 15px;
  text-align: left;

  @media screen and (min-width: 940px) and (max-width: 1280px) {
    &:nth-child(even) {
      margin-right: 110px;
    }

    &:nth-child(odd) {
      margin-left: 110px;
    }
  }

  p {
    font-size: 0.75rem;
  }
}
