.wrapper {
  .starRating {
    display: flex;
    align-items: center;
    padding: 0 10px;

    .score {
      margin-left: 7px;
      color: #666666;
      font-weight: 600;
      font-size: 1.5rem;
    }

    .star {
      margin: 0 3px;
    }
  }
}
