.wrapper {
  position: relative;

  .menu {
    display: flex;
    margin: 0;
    padding: 0;
    font-size: 0.9rem;

    .menuItem {
      display: flex;
      align-items: center;
      padding: 16px;
      list-style-type: none;
      border-bottom: 2px solid #ffffff;

      &:hover {
        border-bottom-color: #e4e3e2;
      }

      a {
        color: #484848;
        text-decoration: none;
      }
    }
  }
}

@media screen and (max-width: 1028px) {
  .navInner {
    position: absolute;
    right: 0;
    z-index: 999;
    width: 200px;
    background: #ffffff;

    .menu {
      flex-direction: column;

      &.menuHided {
        display: none;
      }

      .menuItem {
        border-bottom: none;
      }
    }
  }
}
