.wrapper {
  border-top: 2px solid #e8e8e8;

  .name {
    padding: 12px 15px;
    font-weight: 600;
    font-size: 0.825rem;
    border-bottom: 1px solid #e8e8e8;
  }

  .remarks {
    padding: 8px 15px 18px;
    font-size: 0.75rem;
  }
}
