.wrapper {
  display: flex;
  justify-content: space-around;

  h2.informationTitle {
    color: #1082d1;
    font-weight: 600;
    font-size: 1rem;
  }

  p.subTitle {
    margin: 0;
    padding-left: 40px;
    color: #000000;
    font-weight: 600;
    font-size: 1rem;
  }
}
