.wrapper {
  padding: 0 20px;

  .week {
    padding: 10px 0;
    color: #0365ac;
    font-weight: 600;
    font-size: 0.825rem;
  }

  .timeZone {
    padding-left: 3px;
    font-size: 0.8rem;
  }

  .price {
    font-weight: 600;
    font-size: 0.85rem;
  }
}
