.wrapper {
  padding: 140px 50px;
  text-align: center;
  background-image: url("http://citynow.vn/citynow/images/page/introduction/intro_home.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;

  .title {
    color: #ffffff;
  }

  .description {
    color: #fdfdfd;
  }
}
