.wrapper {
  .inner {
    display: flex;
    align-items: center;
    padding: 10px;

    .tag {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 70px;
      height: 20px;
      margin-left: 10px;
      color: #ffffff;
      font-size: 0.687rem;
      background: #666666;
      border-radius: 15px;
    }
  }
}
