.wrapper {
  width: 100%;
  margin: 0;
  padding: 10px 20px;
  color: #615e5e;
  font-size: 0.82rem;
  background-color: #dedede;

  &.isLight {
    position: relative;
    padding: 15px 20px;
    background-color: #ffffff;
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;

    .chevronIcon {
      position: absolute;
      top: 0;
      right: 0;
      transform: translateY(30%);
    }
  }
}
