.wrapper {
  padding: 0;

  .background {
    padding: 90px 7%;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

    .title {
      margin: 10px 0;
      color: #ffffff;
    }

    .description {
      max-width: 900px;
      margin: 5px auto;
      padding: 0 5px;
      color: #fdfdfd;
    }
  }
}
