.wrapper {
  width: 150px;
  height: 30px;
  background-image: url("http://citynow.jp/citynow/images/logo/logoasia.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
